html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background: #00040c;
}
.grid-container {
  margin: 80px 0px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: #00040c;
  padding: 10px;
}

.grid-container > div {
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
h1 {
  font-family: Handlee;
  text-transform: uppercase;
  text-align: center;
  color: aliceblue;
  font-size: 3rem;
}
.container p {
  font-family: sans-serif;
  line-height: 2rem;
  text-align: center;
  color: rgb(155, 208, 255);
  font-size: 1rem;
}

.box-main {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 5px 25px;
  font-family: Handlee;
  background-color: rgb(235, 234, 236);
  border: 2px solid white;
  border-radius: 25px;
  margin: 0px 30px;
  font-size: 1.5rem;
}
.socials{
  margin: 20vh 0vh 0vh 0vh;
}
.icons {
  margin: 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #00040c;
  padding: 10px;
}
.icons a{
  margin: 0px 80px;
  align-items: center;
}
.box-main a{
  text-decoration: none;
  color: #00040c;
}
footer{
  padding: 2px 0px;
  border-top: 1px solid white;
  margin: 30px 0px 0px 0px;
}
.foot p{
  font-family: Handlee;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  font-size: 1rem;
}
#preloader {
  background: #fff url("pre.gif") no-repeat center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
